<div data-type="CAPTION" data-user="true" class="message">
    <div class="caption">
                            <span style="color: rgb(24, 25, 25);">
                                you
                            </span>
    </div>
</div>
<div data-type="INPUT_BUTTON_GOTO" data-user="true" class="message">
    <div class="input-wrapper input-button-goto">
        <div class="anchors input-wrapper-text" data-first="true"
             style="background: rgb(255 97 62 / 72%); color: rgb(255, 255, 255);">📩 Contact us
        </div>
    </div>
</div>
<div data-type="CAPTION" data-bot="true" class="message">
    <div class="caption">
        <div class="avatar">
            <div data-status="loaded" data-cover="true" class="lazy-img"><img
                    src="https://cdn.chatbot.com/widget/61f28451fdd7c5000728b4f9/FPBAPaZFOOqqiCbV.png"
                    alt="" class="lazy-img-loaded">
            </div>
        </div>
        <span style="color: rgb(24, 25, 25);">
                                ChatBot
                            </span>
    </div>
</div>
<div data-type="BOT_RESPONSE_text" data-bot="true" class="message">
    <div class="anchors bot-response text" data-first="true"
         style="background: rgb(255, 255, 255); color: rgb(0, 0, 0);">Understood! 😊
    </div>
</div>
<div data-type="BOT_RESPONSE_text" data-bot="true" class="message">
    <div class="anchors bot-response text"
         style="background: rgb(255, 255, 255); color: rgb(0, 0, 0);" data-middle="true">I'll ask
        you a couple of questions and pass your message to our team. Let's begin! 👉
    </div>
</div>
<div data-type="BOT_RESPONSE_text" data-bot="true" class="message">
    <div class="anchors bot-response text" data-last="true"
         style="background: rgb(255, 255, 255); color: rgb(0, 0, 0);">First of all, what's your
        name?
    </div>
</div>