<div data-type="BOT_RESPONSE_text" data-bot="true" class="message">
    <div class="anchors bot-response text" style="background: rgb(255, 255, 255); color: rgb(0, 0, 0);"
         data-middle="true">I'll forward your message to our team in that case. 😊
    </div>
</div>
<div data-type="BOT_RESPONSE_text" data-bot="true" class="message">
    <div class="anchors bot-response text" style="background: rgb(255, 255, 255); color: rgb(0, 0, 0);"
         data-middle="true">Let's sum everything up ✍️
    </div>
</div>
<div data-type="BOT_RESPONSE_text" data-bot="true" class="message">
    <div class="anchors bot-response text" style="background: rgb(255, 255, 255); color: rgb(0, 0, 0);"
         data-middle="true">📝 Here's your requirement:
    </div>
</div>
<div data-type="BOT_RESPONSE_text" data-bot="true" class="message">
    <div class="anchors bot-response text" style="background: rgb(255, 255, 255); color: rgb(0, 0, 0);"
         data-middle="true">✉️ We'll reach back to you at:
    </div>
</div>

<div data-type="BOT_RESPONSE_text" data-bot="true" class="message">
    <div class="anchors bot-response text" data-first="true"
         style="background: rgb(255, 255, 255); color: rgb(0, 0, 0);">
        Thanks! What's your email address?
    </div>
</div>


<div data-type="BOT_RESPONSE_image" data-bot="true" class="message">
    <div data-loaded="true" class="bot-response image">
        <div data-status="loaded" data-cover="false" class="lazy-img">
            <img src="/static/images/svg/email_send.svg" alt="email sent" class="lazy-img-loaded">
        </div>
    </div>
</div>
<div data-type="BOT_RESPONSE_text" data-bot="true" class="message">
    <div class="anchors bot-response text" style="background: rgb(255, 255, 255); color: rgb(0, 0, 0);"
         data-middle="true">I have informed the staff, they will contact you as soon as possible, please pay attention
        to the email 📮
    </div>
</div>


<div data-type="BOT_RESPONSE_quickReplies" data-bot="true" class="message">
    <div class="bot-response quick-replies">
        <div class="anchors quick-replies-text" data-last="true"
             style="background: rgb(255, 255, 255); color: rgb(0, 0, 0);">What would you like to do next?
        </div>
        <div class="quick-replies-buttons">
            <div data-conversation-quick-reply-title="👈 Back to menu" class="single-button"
                 style="border-color: rgb(255 97 62 / 72%); color: rgb(255 97 62 / 72%); background: rgb(255, 255, 255);">
                <span>👈 Back to menu</span>
            </div>
            <div data-conversation-quick-reply-title="👋 Close chat" class="single-button"
                 style="border-color: rgb(255 97 62 / 72%); color: rgb(255 97 62 / 72%); background: rgb(255, 255, 255);">
                <span>👋 Close chat</span>
            </div>
        </div>
    </div>
</div>


<div data-type="BOT_RESPONSE_text" data-bot="true" class="message">
    <div class="anchors bot-response text" data-first="true"
         style="background: rgb(255, 255, 255); color: rgb(0, 0, 0);">
        Great, thank you! <br>
        Could you describe your requirements briefly?<br>
        1. Types of wood used<br>
        2. Length of wood used<br>
        3. Height of wood used<br>
        4. Width of wood used<br>
        5. Required plate thickness<br>
        ❗️ Please, don't hit enter if your message isn't complete.
    </div>
</div>