<div class="quick-replies-buttons">
    <div data-conversation-quick-reply-title="⚡️ Free trial" class="single-button"
         style="border-color: rgb(255 97 62 / 72%); color: rgb(255 97 62 / 72%); background: rgb(255, 255, 255);">
        <span>⚡️ Free trial</span></div>
    <div data-conversation-quick-reply-title="💲 Pricing" class="single-button"
         style="border-color: rgb(255 97 62 / 72%); color: rgb(255 97 62 / 72%); background: rgb(255, 255, 255);">
        <span>💲 Pricing</span></div>
    <div data-conversation-quick-reply-title="🧑&zwj;💻 Contact Sales" class="single-button"
         style="border-color: rgb(255 97 62 / 72%); color: rgb(255 97 62 / 72%); background: rgb(255, 255, 255);">
        <span>🧑&zwj;💻 Contact Sales</span></div>
    <div data-conversation-quick-reply-title="💡 About ChatBot" class="single-button"
         style="border-color: rgb(255 97 62 / 72%); color: rgb(255 97 62 / 72%); background: rgb(255, 255, 255);">
        <span>💡 About ChatBot</span></div>
    <div data-conversation-quick-reply-title="🚀 Features" class="single-button"
         style="border-color: rgb(255 97 62 / 72%); color: rgb(255 97 62 / 72%); background: rgb(255, 255, 255);">
        <span>🚀 Features</span></div>
    <div data-conversation-quick-reply-title="⚙️  Integrations" class="single-button"
         style="border-color: rgb(255 97 62 / 72%); color: rgb(255 97 62 / 72%); background: rgb(255, 255, 255);">
        <span>⚙️  Integrations</span></div>
    <div data-conversation-quick-reply-title="🤝 Partner Program" class="single-button"
         style="border-color: rgb(255 97 62 / 72%); color: rgb(255 97 62 / 72%); background: rgb(255, 255, 255);">
        <span>🤝 Partner Program</span></div>
    <div data-conversation-quick-reply-title="📩  Contact us" class="single-button"
         style="border-color: rgb(255 97 62 / 72%); color: rgb(255 97 62 / 72%); background: rgb(255, 255, 255);">
        <span>📩  Contact us</span></div>
</div>


<div class="quick-replies-buttons">
    <div data-conversation-quick-reply-title="💡About ChatBot" class="single-button quick-query-company"
         style="border-color: rgb(255 97 62 / 72%); color: rgb(255 97 62 / 72%); background: rgb(255, 255, 255);">
        <span>💡About SanHe</span>
    </div>
    <div data-conversation-quick-reply-title="📩️Inquiry Request" class="single-button quick-query-inquiry"
         style="border-color: rgb(255 97 62 / 72%); color: rgb(255 97 62 / 72%); background: rgb(255, 255, 255);">
        <span>📩️Inquiry Request</span>
    </div>
    <div data-conversation-quick-reply-title="📦Products" class="single-button quick-query-products"
         style="border-color: rgb(255 97 62 / 72%); color: rgb(255 97 62 / 72%); background: rgb(255, 255, 255);">
        <span>📦Products</span>
    </div>
    <div data-conversation-quick-reply-title="⚙️Specifications" class="single-button quick-query-specifications"
         style="border-color: rgb(255 97 62 / 72%); color: rgb(255 97 62 / 72%); background: rgb(255, 255, 255);">
        <span>⚙️Specifications</span>
    </div>
</div>
