<div class="quick-replies-buttons">
    <div data-conversation-quick-reply-title="⚡️ Free trial" class="single-button"
         style="border-color: rgb(0, 102, 255); color: rgb(0, 102, 255); background: rgb(255, 255, 255);"><span>⚡️ Free trial</span>
    </div>
    <div data-conversation-quick-reply-title="💲 Pricing" class="single-button"
         style="border-color: rgb(0, 102, 255); color: rgb(0, 102, 255); background: rgb(255, 255, 255);"><span>💲 Pricing</span>
    </div>
    <div data-conversation-quick-reply-title="🧑&zwj;💻 Contact Sales" class="single-button"
         style="border-color: rgb(0, 102, 255); color: rgb(0, 102, 255); background: rgb(255, 255, 255);"><span>🧑&zwj;💻 Contact Sales</span>
    </div>
    <div data-conversation-quick-reply-title="💡 About ChatBot" class="single-button"
         style="border-color: rgb(0, 102, 255); color: rgb(0, 102, 255); background: rgb(255, 255, 255);"><span>💡 About ChatBot</span>
    </div>
    <div data-conversation-quick-reply-title="🚀 Features" class="single-button"
         style="border-color: rgb(0, 102, 255); color: rgb(0, 102, 255); background: rgb(255, 255, 255);"><span>🚀 Features</span>
    </div>
    <div data-conversation-quick-reply-title="⚙️  Integrations" class="single-button"
         style="border-color: rgb(0, 102, 255); color: rgb(0, 102, 255); background: rgb(255, 255, 255);"><span>⚙️  Integrations</span>
    </div>
    <div data-conversation-quick-reply-title="🤝 Partner Program" class="single-button"
         style="border-color: rgb(0, 102, 255); color: rgb(0, 102, 255); background: rgb(255, 255, 255);"><span>🤝 Partner Program</span>
    </div>
    <div data-conversation-quick-reply-title="📩  Contact us" class="single-button"
         style="border-color: rgb(0, 102, 255); color: rgb(0, 102, 255); background: rgb(255, 255, 255);"><span>📩  Contact us</span>
    </div>
</div>

<div data-type="BOT_RESPONSE_text" data-bot="true" class="message">
    <div class="anchors bot-response text" data-first="true"
         style="background: rgb(255, 255, 255); color: rgb(0, 0, 0);">
        Fujian Jianyang Sanhe Machinery is a professional manufacturer of machinery and equipment for the woodworking
        industry, such as cabinet boards, joinery boards and partitions. With decades of excellent technology and
        experience inherited, and the use of modern advanced automation technology to update and improve the products,
        making the products specialised and serialised.
    </div>
</div>
<div data-type="BOT_RESPONSE_text" data-bot="true" class="message">
    <div class="anchors bot-response text" data-first="true"
         style="background: rgb(255, 255, 255); color: rgb(0, 0, 0);">
        The company's leading products: log cutting frame sawing machine, square cutting frame sawing machine, heavy
        duty cutting frame sawing automatic production line (including: germ conveyor, divider, feeder, heavy duty
        cutting frame sawing machine, discharge machine, board conveyor, board elevator, wood chip scraper and dozens of
        woodworking machine tools) .
    </div>
</div>
<div data-type="BOT_RESPONSE_text" data-bot="true" class="message">
    <div class="anchors bot-response text" data-first="true"
         style="background: rgb(255, 255, 255); color: rgb(0, 0, 0);">
        "As your reliable partner, Sanhe Machinery will provide you with high quality products and perfect after-sales
        service as always.
    </div>
</div>
