<div data-type="BOT_RESPONSE_text" data-bot="true" class="message">
    <div class="anchors bot-response text" data-first="true"
         style="background: rgb(255, 255, 255); color: rgb(0, 0, 0);">Woo-hoo! 🥳 I'm glad I could help!
    </div>
</div>

<div data-type="BOT_RESPONSE_quickReplies" data-bot="true" class="message">
    <div class="bot-response quick-replies">
        <div class="anchors quick-replies-text" data-last="true"
             style="background: rgb(255, 255, 255); color: rgb(0, 0, 0);">What would you like to do next?
        </div>
        <div class="quick-replies-buttons">
            <div data-conversation-quick-reply-title="👈 Go to main menu" class="single-button"
                 style="border-color: rgb(0, 102, 255); color: rgb(0, 102, 255); background: rgb(255, 255, 255);"><span>👈 Go to main menu</span>
            </div>
            <div data-conversation-quick-reply-title="👀 Another question" class="single-button"
                 style="border-color: rgb(0, 102, 255); color: rgb(0, 102, 255); background: rgb(255, 255, 255);"><span>👀 Another question</span>
            </div>
            <div data-conversation-quick-reply-title="👋 Close chat" class="single-button"
                 style="border-color: rgb(0, 102, 255); color: rgb(0, 102, 255); background: rgb(255, 255, 255);"><span>👋 Close chat</span>
            </div>
        </div>
    </div>
</div>