.transparent-hd {
    position: relative !important;
    height: 70px;
}

.sanhe-contact-container {
    margin-left: auto;
    margin-right: auto
}

.sanhe-contact-item-pdb {
    padding-bottom: 30px
}

.sanhe-contact-center-align {
    text-align: center
}

.sanhe-contact-column-20 {
    float: left;
    width: 33.3333%
}

.sanhe-contact-column-first {
    clear: left
}

.sanhe-contact-pbf-wrapper {
    padding: 60px 0 30px;
    position: relative
}

.sanhe-contact-pbf-wrapper-container {
    margin-left: auto;
    margin-right: auto
}

.sanhe-contact-pbf-column, .sanhe-contact-pbf-column-content-margin {
    position: relative;
    transition: border-color 200ms;
    -moz-transition: border-color 200ms;
    -o-transition: border-color 200ms;
    -webkit-transition: border-color 200ms
}

.sanhe-contact-pbf-column-content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    min-height: 1px
}

.sanhe-contact-pbf-element {
    clear: both
}

.sanhe-contact-pbf-background-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -2;
    transition: border-color 300ms, border-width 100ms;
    -moz-transition: border-color 300ms, border-width 100ms;
    -o-transition: border-color 300ms, border-width 100ms;
    -webkit-transition: border-color 300ms, border-width 100ms
}

.sanhe-contact-icon-item {
    line-height: 0
}

.sanhe-contact-icon-item .sanhe-contact-icon-item-icon {
    font-size: 45px;
    min-width: 45px;
    min-height: 45px;
    text-align: center;
    display: inline-block
}

.sanhe-contact-title-item .sanhe-contact-title-item-title {
    font-size: 41px;
    font-weight: 800;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0;
    transition: color 200ms;
    -moz-transition: color 200ms;
    -o-transition: color 200ms;
    -webkit-transition: color 200ms
}

.sanhe-contact-title-item .sanhe-contact-title-item-title-wrap {
    position: relative
}

.sanhe-contact-instagram-item .sanhe-contact-media-image {
    padding-bottom: 100%
}

@media only screen and (max-width: 767px) {
    body .sanhe-contact-container {
        max-width: 500px;
        padding-left: 15px;
        padding-right: 15px
    }

    .sanhe-contact-pbf-wrapper {
        padding-left: 0px !important;
        padding-right: 0px !important
    }

    .sanhe-contact-pbf-column-content-margin {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important
    }

    .sanhe-contact-column-20 {
        width: 100%
    }

    .sanhe-contact-pbf-column-content {
        min-height: 0
    }
}


p {
    margin-bottom: 20px
}

h3 {
    line-height: 1.2;
    margin-bottom: 20px
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

@media only screen and (max-width: 999px) {
    body {
        width: 100%;
        overflow-x: hidden
    }
}

@media only screen and (max-width: 419px) {
    body {
        min-width: 320px
    }
}

.sanhe-contact-item-pdlr {
    padding-left: 15px;
    padding-right: 15px
}

.sanhe-contact-container {
    max-width: 1180px
}

.sanhe-contact-title-item .sanhe-contact-title-item-title {
    color: #383838
}


/** **/


.id-card-holder {
    width: 225px;
    padding: 4px;
    margin: 0 auto;
    background-color: #1f1f1f;
    border-radius: 5px;
    position: relative;
}

.id-card-holder:after {
    content: '';
    width: 7px;
    display: block;
    background-color: #0a0a0a;
    height: 100px;
    position: absolute;
    top: 105px;
    border-radius: 0 5px 5px 0;
}

.id-card-holder:before {
    content: '';
    width: 7px;
    display: block;
    background-color: #0a0a0a;
    height: 100px;
    position: absolute;
    top: 105px;
    left: 222px;
    border-radius: 5px 0 0 5px;
}

.id-card {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 1.5px 0px #b9b9b9;
}

.id-card img {
    margin: 0 auto;
}

.id-header img {
    width: 100px;
    margin-top: 15px;
}

.id-photo img {
    width: 80px;
    margin-top: 15px;
}

.id-card-hook {
    background-color: #000;
    width: 70px;
    margin: 0 auto;
    height: 15px;
    border-radius: 5px 5px 0 0;
}

.id-card-hook:after {
    content: '';
    background-color: #d7d6d3;
    width: 47px;
    height: 6px;
    display: block;
    margin: 0px auto;
    position: relative;
    top: 6px;
    border-radius: 4px;
}

.id-single-card {
    margin: 10px 0;
}

.id-cards-wrapper {
    margin: 60px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.section-head {
    background: url(../images/overlay/divider-line.png) no-repeat center;
    background-size: 2700px;
}