{% extends "layout/fixed_header_base_zh.html" %}

{% block seo_infos %}
    <title>FAQs | 福建建阳三和机械制造有限公司</title>
    <meta name="description"
          content="What's the prices of frame saw machines?"/>
    <link rel="canonical" href="https://global.sanhejxzz.com/sanhe/faqs_zh-cn"/>
    <meta name="keywords"
          content="thin cutting frame saw, cutting frame saw machine, vertical frame sawing machine, automatic production line, thin cutting frame sawmill, Fujian Jianyang Sanhe Machinery">
    <meta name="robots" content="index,follow"/>
{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style_faqs.css') }}"/>
{% endblock %}

{% block page_content %}
    <div class="fl-row-content-wrap">
        <div class="fl-row-content fl-row-fixed-width fl-node-content">
            <div class="fl-col-group">
                <div class="fl-col" style="width: 100%;">
                    <div class="fl-col-content fl-node-content">
                        <div class="fl-module fl-module-accordion fl-node"
                             data-animation-delay="0.0">
                            <div class="fl-module-content fl-node-content">
                                <div class="fl-accordion fl-accordion-small fl-accordion-collapse">
                                    <div class="fl-accordion-item">
                                        <div class="fl-accordion-button">
                                            <span class="fl-accordion-button-label">What are your prices?</span>
                                            <i class="fl-accordion-button-icon fa fa-plus"></i>
                                        </div>
                                        <div class="fl-accordion-content fl-clearfix" style="display: none;"><p>Our
                                            prices are subject to change depending on supply and other market
                                            factors. We will send you an updated price list after your company
                                            contact us for further information.</p>
                                        </div>
                                    </div>
                                    <div class="fl-accordion-item">
                                        <div class="fl-accordion-button">
                                            <span class="fl-accordion-button-label">Do you have a minimum order quantity?</span>
                                            <i class="fl-accordion-button-icon fa fa-plus"></i>
                                        </div>
                                        <div class="fl-accordion-content fl-clearfix" style="display: none;"><p>Yes,
                                            we require all international orders to have an ongoing minimum order
                                            quantity. If you are looking to resell but in much smaller quantities,
                                            we recommend you check out our website</p>
                                        </div>
                                    </div>
                                    <div class="fl-accordion-item">
                                        <div class="fl-accordion-button">
                                            <span class="fl-accordion-button-label">Can you supply the relevant documentation?</span>
                                            <i class="fl-accordion-button-icon fa fa-plus"></i>
                                        </div>
                                        <div class="fl-accordion-content fl-clearfix" style="display: none;"><p>Yes,
                                            we can provide most documentation including Certificates of Analysis /
                                            Conformance; Insurance; Origin, and other export documents where
                                            required.</p>
                                        </div>
                                    </div>
                                    <div class="fl-accordion-item">
                                        <div class="fl-accordion-button">
                                            <span class="fl-accordion-button-label">What is the average lead time?</span>
                                            <i class="fl-accordion-button-icon fa fa-plus"></i>
                                        </div>
                                        <div class="fl-accordion-content fl-clearfix" style="display: none;"><p>For
                                            samples, the lead time is about 7 days. For mass production, the lead
                                            time is 20-30 days after receiving the deposit payment. The lead times
                                            become effective when (1) we have received your deposit, and (2) we have
                                            your final approval for your products. If our lead times do not work
                                            with your deadline, please go over your requirements with your sale. In
                                            all cases we will try to accommodate your needs. In most cases we are
                                            able to do so.</p>
                                        </div>
                                    </div>
                                    <div class="fl-accordion-item">
                                        <div class="fl-accordion-button">
                                            <span class="fl-accordion-button-label">What kinds of payment methods do you accept?</span>
                                            <i class="fl-accordion-button-icon fa fa-plus"></i>
                                        </div>
                                        <div class="fl-accordion-content fl-clearfix" style="display: none;"><p>You
                                            can make the payment to our bank account, Western Union or PayPal:<br>
                                            30% deposit in advance, 70% balance against the copy of B/L.</p>
                                        </div>
                                    </div>
                                    <div class="fl-accordion-item">
                                        <div class="fl-accordion-button">
                                            <span class="fl-accordion-button-label">What is the product warranty?</span>
                                            <i class="fl-accordion-button-icon fa fa-plus"></i>
                                        </div>
                                        <div class="fl-accordion-content fl-clearfix" style="display: none;"><p>We
                                            warranty our materials and workmanship. Our commitment is to your
                                            satisfaction with our products. In warranty or not, it is the culture of
                                            our company to address and resolve all customer issues to everyone’s
                                            satisfaction</p>
                                        </div>
                                    </div>
                                    <div class="fl-accordion-item">
                                        <div class="fl-accordion-button">
                                            <span class="fl-accordion-button-label">Do you guarantee safe and secure delivery of products?</span>
                                            <i class="fl-accordion-button-icon fa fa-plus"></i>
                                        </div>
                                        <div class="fl-accordion-content fl-clearfix" style="display: none;"><p>Yes,
                                            we always use high quality export packaging. We also use specialized
                                            hazard packing for dangerous goods and validated cold storage shippers
                                            for temperature sensitive items. Specialist packaging and non-standard
                                            packing requirements may incur an additional charge.</p>
                                        </div>
                                    </div>
                                    <div class="fl-accordion-item">
                                        <div class="fl-accordion-button">
                                            <span class="fl-accordion-button-label">How about the shipping fees?</span>
                                            <i class="fl-accordion-button-icon fa fa-plus"></i>
                                        </div>
                                        <div class="fl-accordion-content fl-clearfix" style="display: none;"><p>The
                                            shipping cost depends on the way you choose to get the goods. Express is
                                            normally the most quickest but also most expensive way. By seafreight is
                                            the best solution for big amounts. Exactly freight rates we can only
                                            give you if we know the details of amount, weight and way. Please
                                            contact us for further information.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_scripts %}
    <script src="{{ url_for('static',filename='js/js_faqs.js') }}" rel="script"></script>
    <script>
        function changeLanguage() {
            let language = "{{ language }}";
            let target = language === "en" ? "_zh-cn" : ""
            window.location.href = '/sanhe/faqs' + target;
        }
    </script>
{% endblock js_scripts %}
