<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <title>框锯机、自动化生产线定制｜福建建阳三和机械制造有限公司</title>
    <meta name="description"
          content="我们用事实说话，致力于打造客户心目中的理想的高端制材设备，推动木材加工企业在制材工艺领域的规模化发展。"/>
    <link rel="canonical" href="https://global.sanhejxzz.com/sanhe/index_zh-cn"/>
    <meta property="og:title"
          content="框锯机、自动化生产线定制｜福建建阳三和机械制造有限公司"/>
    <meta property="og:description"
          content="我们用事实说话，致力于打造客户心目中的理想的高端制材设备，推动木材加工企业在制材工艺领域的规模化发展。"/>
    <meta property="og:image" content="https://global.sanhejxzz.com/static/images/blog_img/squared1.jpg"/>
    <meta property="og:image:width" content="2274"/>
    <meta property="og:image:height" content="1326"/>
    <meta property="og:url" content="https://global.sanhejxzz.com/sanhe/index_zh-cn"/>
    <meta property="og:site_name" content="sanhe"/>
    <meta property="og:type" content="website"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title"
          content="框锯机、自动化生产线定制｜福建建阳三和机械制造有限公司"/>
    <meta name="twitter:description"
          content="我们用事实说话，致力于打造客户心目中的理想的高端制材设备，推动木材加工企业在制材工艺领域的规模化发展。"/>
    <meta name="twitter:image" content="https://global.sanhejxzz.com/static/images/blog_img/squared1.jpg"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="https://global.sanhejxzz.com/static/images/icon.png"/>
    <meta name="keywords" content="框锯机, 自动化生产线, 福建建阳三和机械制造有限公司">
    <meta name="robots" content="index,follow"/>

    <!-- Google tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VJLMB2T8ZV">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'G-VJLMB2T8ZV');
    </script>

    <link rel="shortcut icon" href="{{ url_for('static',filename='images/icon.ico') }}"/>
    <link rel="icon" href="{{ url_for('static',filename='images/icon.ico') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/plugins.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style_home.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/basic.css') }}"/>

    <link rel="stylesheet" href="{{ url_for('static',filename='plugins/owl-carousel/owl-carousel.css') }}"/>
</head>
<body id="bg">
<div class="page_wrapper">
    <!-- header -->
    <header class="site-header mo-left transparent-hd header">
        <!-- main header -->
        <div class="sticky-header navbar-expand-lg">
            <div class="main-bar clearfix">
                <div class="container clearfix">
                    <!-- website logo -->
                    <div class="logo-header logo-white">
                        <a href="/sanhe/index"><img src="/static/images/logo-white.png" alt=""/></a>
                    </div>
                    <!-- nav toggle button -->
                    <button
                            class="navbar-toggle-button collapsed navbar-icon justify-content-end"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarNav_Collapse"
                            aria-controls="navbarNav_Collapse"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>

                    <!-- main nav -->
                    <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNav_Collapse">
                        <div class="logo-header d-md-block d-lg-none">
                            <a href="/sanhe/index"><img src="/static/images/logo-black.png" alt=""></a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="\sanhe\index_zh-cn">首页
                                </a>
                            </li>
                            <li>
                                <a href="\sanhe\products_zh-cn">产品
                                </a>
                            </li>
                            <li>
                                <a href="\sanhe\news_zh-cn">新闻
                                </a>
                            </li>
                            <li>
                                <a href="\sanhe\faqs_zh-cn">常见问题
                                </a>
                            </li>
                            <li>
                                <a href="\sanhe\contact_zh-cn">联系方式<i class="fas fa-chevron-down"></i></a>
                                <ul class="sub-menu right">
                                    <li><a class="copy-phone" title="点击复制">微信 / WhatsApp:<br/> +86 13559329496</a>
                                    </li>
                                    <li><a class="copy-qq" title="点击复制">QQ / QQ邮箱<br/> 1053924276 </a></li>
                                    <li><a><img class="change_img" src="/static/images/contact/wechat_s.jpg"
                                                alt=""></a></li>
                                    <li><a><img class="change_img" src="/static/images/contact/whatsapp_s.jpg"
                                                alt=""></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-last-li">
                                <svg class="change_language lang_zh" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 640 512"
                                     onclick="changeLanguage()">
                                    <path d="M0 128C0 92.7 28.7 64 64 64H256h48 16H576c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H320 304 256 64c-35.3 0-64-28.7-64-64V128zm320 0V384H576V128H320zM178.3 175.9c-3.2-7.2-10.4-11.9-18.3-11.9s-15.1 4.7-18.3 11.9l-64 144c-4.5 10.1 .1 21.9 10.2 26.4s21.9-.1 26.4-10.2l8.9-20.1h73.6l8.9 20.1c4.5 10.1 16.3 14.6 26.4 10.2s14.6-16.3 10.2-26.4l-64-144zM160 233.2L179 276H141l19-42.8zM448 164c11 0 20 9 20 20v4h44 16c11 0 20 9 20 20s-9 20-20 20h-2l-1.6 4.5c-8.9 24.4-22.4 46.6-39.6 65.4c.9 .6 1.8 1.1 2.7 1.6l18.9 11.3c9.5 5.7 12.5 18 6.9 27.4s-18 12.5-27.4 6.9l-18.9-11.3c-4.5-2.7-8.8-5.5-13.1-8.5c-10.6 7.5-21.9 14-34 19.4l-3.6 1.6c-10.1 4.5-21.9-.1-26.4-10.2s.1-21.9 10.2-26.4l3.6-1.6c6.4-2.9 12.6-6.1 18.5-9.8l-12.2-12.2c-7.8-7.8-7.8-20.5 0-28.3s20.5-7.8 28.3 0l14.6 14.6 .5 .5c12.4-13.1 22.5-28.3 29.8-45H448 376c-11 0-20-9-20-20s9-20 20-20h52v-4c0-11 9-20 20-20z"/>
                                </svg>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
        <!-- main header END -->
    </header>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- Slider -->
        <div class="main-slider style-two default-banner" id="home">
            <div class="tp-banner-container">
                <div class="tp-banner">
                    <div id="rev_slider_wrapper" class="rev_slider_wrapper fullscreen-container" data-source="gallery"
                         style="background-color:transparent;padding:0px;">
                        <div id="rev_slider_homepage" class="rev_slider" data-version="5.4.8">
                            <ul>
                                <!-- SLIDE  -->
                                <li data-index="rs-1" data-transition="fade" data-slotamount="default"
                                    data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                                    data-easeout="default" data-masterspeed="default"
                                    data-thumb="/static/images/banner/banner_32_cover.png" data-rotate="0"
                                    data-fstransition="fade"
                                    data-fsmasterspeed="1200" data-fsslotamount="7" data-saveperformance="off"
                                    data-title="Slide">
                                    <!-- MAIN IMAGE -->
                                    <img src="/static/images/banner/banner_32_cover.png" alt=""
                                         data-lazyload="/static/images/banner/banner_32_cover.png"
                                         data-bgposition="center center"
                                         data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="3"
                                         class="rev-slidebg" data-no-retina>
                                    <!-- BACKGROUND VIDEO LAYER -->
                                    <div class="rs-background-video-layer"
                                         data-forcerewind="on"
                                         data-volume="mute"
                                         data-videowidth="100%"
                                         data-videoheight="100%"
                                         data-videomp4="/static/images/banner/banner_32_10s.mp4"
                                         data-videopreload="auto"
                                         data-videoloop="none"
                                         data-aspectratio="16:9"
                                         data-autoplay="true"
                                         data-autoplayonlyfirsttime="false"
                                         data-forceCover="1"
                                         data-nextslideatend="true">
                                    </div>
                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption rs-parallaxlevel-4"
                                         id="slide-1-layer-1"
                                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                         data-fontsize="['60','60','40','20']"
                                         data-lineheight="['75','70','50','30']"
                                         data-width="['720','640','480','300']"
                                         data-height="none"
                                         data-whitespace="normal"
                                         data-type="text"
                                         data-responsive_offset="off"
                                         data-responsive="off"
                                         data-frames='[{"from":"y:20px;sX:0.9;sY:0.9;opacity:0;","speed":1000,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                         data-textAlign="['center','center','center','center']"
                                         data-paddingtop="[0,0,0,0]"
                                         data-paddingright="[0,0,0,0]"
                                         data-paddingbottom="[0,0,0,0]"
                                         data-paddingleft="[0,0,0,0]"
                                         style="z-index: 5; min-width: 720px; max-width: 720px; white-space: normal; font-size: 60px; line-height: 70px;  color: rgba(255, 255, 255, 1.00);font-family:Poppins;border-width:0px; font-weight:600;">
                                        高效率、高回报的制材技术 —— 框锯锯切技术 <br/>
                                    </div>
                                </li>
                                <!-- SLIDE  -->
                                <li data-index="rs-2" data-transition="fade" data-slotamount="default"
                                    data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                                    data-easeout="default" data-masterspeed="default"
                                    data-thumb="/static/images/banner/banner_2040_cover.jpg" data-rotate="0"
                                    data-fstransition="fade"
                                    data-fsmasterspeed="1200" data-fsslotamount="7" data-saveperformance="off"
                                    data-title="Slide">
                                    <!-- MAIN IMAGE -->
                                    <img src="/static/images/banner/banner_2040_cover.jpg" alt=""
                                         data-lazyload="/static/images/banner/banner_2040_cover.jpg"
                                         data-bgposition="center center"
                                         data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="3"
                                         class="rev-slidebg" data-no-retina>
                                    <!-- BACKGROUND VIDEO LAYER -->
                                    <div class="rs-background-video-layer"
                                         data-forcerewind="on"
                                         data-volume="mute"
                                         data-videowidth="100%"
                                         data-videoheight="100%"
                                         data-videomp4="/static/images/banner/banner_2040_24s.mp4"
                                         data-videopreload="auto"
                                         data-videoloop="none"
                                         data-aspectratio="16:9"
                                         data-autoplay="true"
                                         data-autoplayonlyfirsttime="false"
                                         data-forceCover="1"
                                         data-nextslideatend="true"
                                    ></div>
                                    <!-- LAYER NR. 1 -->
                                    <div class="tp-caption rs-parallaxlevel-4"
                                         id="slide-3-layer-1"
                                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                         data-fontsize="['50','50','40','20']"
                                         data-lineheight="['75','70','50','30']"
                                         data-width="['720','640','480','300']"
                                         data-height="none"
                                         data-whitespace="normal"
                                         data-type="text"
                                         data-responsive_offset="off"
                                         data-responsive="off"
                                         data-frames='[{"from":"y:20px;sX:0.9;sY:0.9;opacity:0;","speed":1000,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                         data-textAlign="['center','center','center','center']"
                                         data-paddingtop="[0,0,0,0]"
                                         data-paddingright="[0,0,0,0]"
                                         data-paddingbottom="[0,0,0,0]"
                                         data-paddingleft="[0,0,0,0]"
                                         style="z-index: 5; min-width: 720px; max-width: 720px; white-space: normal; font-size: 60px; line-height: 70px;  color: rgba(255, 255, 255, 1.00);font-family:Poppins;border-width:0px; font-weight:600;">
                                        根据木材加工工艺要求 <br/> —— 多样化定制框锯锯切方案
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider END -->

        <!-- Latest Products -->
        <div class="section-full content-inner-products bg-white">
            <div class="section-head text-black text-center">
                <h2 class="title">产品展示</h2>
                <p>以最高效率和最大盈利为目标</p>
            </div>
            <div class="portfolio-carousel-home-products owl-carousel owl-none">
                <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="dlab-media dlab-img-overlay1 dlab-img-effect portbox1 style1">
                        <img src="/static/images/blog_img/flow1.jpg" alt=""/>
                        <div class="overlay-bx">
                            <div class="portinner">
                                <h3 class="port-title"><a href="/sanhe/product_detail/automatic_production_line">
                                    自动化生产线</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                    <div class="dlab-media dlab-img-overlay1 dlab-img-effect portbox1 style1">
                        <img src="/static/images/blog_img/log1.jpg" alt=""/>
                        <div class="overlay-bx">
                            <div class="portinner">
                                <h3 class="port-title"><a href="/sanhe/product_detail/log_frame_saw_machine">
                                    原木框锯机</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                    <div class="dlab-media dlab-img-overlay1 dlab-img-effect portbox1 style1">
                        <img src="/static/images/blog_img/squared1.jpg" alt=""/>
                        <div class="overlay-bx">
                            <div class="portinner">
                                <h3 class="port-title"><a href="/sanhe/products/squared_frame_saw_machine">
                                    方料框锯机</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Latest Project End -->

        <!-- Category -->
        <div class="section-full content-inner-category bg-white">
            <div class="section-head text-black text-center">
                <h2 class="title">产品类别</h2>
                <p>机械设备专业制造商</p>
            </div>
            <div class="container">
                <div class="sanhe-category-wrapper-content sanhe-category-js ">
                    <div class="sanhe-category-wrapper-container clearfix sanhe-category-container">
                        <div class="sanhe-category-column sanhe-category-column-20 sanhe-category-column-first">
                            <div class="sanhe-category-column-content-margin sanhe-category-js ">
                                <div class="sanhe-category-column-content clearfix sanhe-category-js ">
                                    <div class="sanhe-category-element">
                                        <div class="sanhe-category-image-item  sanhe-category-center-align sanhe-category-item-pdlr"
                                             style="padding-bottom: 35px ;">
                                            <div class="sanhe-category-image-item-wrap sanhe-category-media-image  sanhe-category-image-item-style-round"
                                                 style="border-width: 0px;">
                                                <a href="/sanhe/products_zh-cn" target="_self">
                                                    <img src="/static/images/category/category-wood.jpg" width="800"
                                                         height="420"
                                                         sizes="(max-width: 767px) 100vw, (max-width: 1150px) 33vw, 383px"
                                                         alt="">
                                                    <span class="sanhe-category-image-overlay">
                                                        <i class="sanhe-category-image-overlay-icon sanhe-category-size-28 fa"
                                                           style="color: #ffffff ;">
                                                        </i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sanhe-category-element">
                                        <div class="sanhe-category-title-item clearfix  sanhe-category-center-align sanhe-category-title-item-caption-top sanhe-category-item-pdlr"
                                             style="padding-bottom: 10px ;">
                                            <div class="sanhe-category-title-item-title-wrap "><h3
                                                    class="sanhe-category-title-item-title sanhe-category-skin-title "
                                                    style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                <a href="/sanhe/products_zh-cn" target="_self">制材设备</a><span
                                                    class="sanhe-category-title-item-title-divider sanhe-category-skin-divider"></span>
                                            </h3></div>
                                        </div>
                                    </div>
                                    <div class="sanhe-category-element">
                                        <div class="sanhe-category-text-box-item sanhe-category-item-pdlr sanhe-category-center-align"
                                             style="padding-bottom: 10px ;">
                                            <div class="sanhe-category-text-box-item-content" style="font-size: 14px ;">
                                                <p>
                                                    框锯机 &amp; 自动化生产线 </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sanhe-category-column sanhe-category-column-20">
                            <div class="sanhe-category-column-content-margin sanhe-category-js ">
                                <div class="sanhe-category-column-content clearfix sanhe-category-js ">
                                    <div class="sanhe-category-element">
                                        <div class="sanhe-category-image-item  sanhe-category-center-align sanhe-category-item-pdlr"
                                             style="padding-bottom: 35px ;">
                                            <div class="sanhe-category-image-item-wrap sanhe-category-media-image  sanhe-category-image-item-style-round"
                                                 style="border-width: 0px;">
                                                <a href="/sanhe/products_zh-cn" target="_self">
                                                    <img src="/static/images/category/category-bamboo.jpg" width="800"
                                                         height="420"
                                                         sizes="(max-width: 767px) 100vw, (max-width: 1150px) 33vw, 383px"
                                                         alt="">
                                                    <span class="sanhe-category-image-overlay">
                                                        <i class="sanhe-category-image-overlay-icon sanhe-category-size-28 fa"
                                                           style="color: #ffffff ;">
                                                        </i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sanhe-category-element">
                                        <div class="sanhe-category-title-item clearfix  sanhe-category-center-align sanhe-category-title-item-caption-top sanhe-category-item-pdlr"
                                             style="padding-bottom: 10px ;">
                                            <div class="sanhe-category-title-item-title-wrap "><h3
                                                    class="sanhe-category-title-item-title sanhe-category-skin-title "
                                                    style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                <a href="/sanhe/products_zh-cn" target="_self">竹材加工</a><span
                                                    class="sanhe-category-title-item-title-divider sanhe-category-skin-divider"></span>
                                            </h3></div>
                                        </div>
                                    </div>
                                    <div class="sanhe-category-element">
                                        <div class="sanhe-category-text-box-item sanhe-category-item-pdlr sanhe-category-center-align">
                                            <div class="sanhe-category-text-box-item-content" style="font-size: 16px ;">
                                                <p>
                                                    竹片碾压机</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sanhe-category-column sanhe-category-column-20">
                            <div class="sanhe-category-column-content-margin sanhe-category-js ">
                                <div class="sanhe-category-column-content clearfix sanhe-category-js ">
                                    <div class="sanhe-category-element">
                                        <div class="sanhe-category-image-item  sanhe-category-center-align sanhe-category-item-pdlr"
                                             style="padding-bottom: 35px ;">
                                            <div class="sanhe-category-image-item-wrap sanhe-category-media-image  sanhe-category-image-item-style-round"
                                                 style="border-width: 0px;">
                                                <a href="/sanhe/products_zh-cn" target="_self">
                                                    <img src="/static/images/category/category-tea.jpg" width="800"
                                                         height="420"
                                                         sizes="(max-width: 767px) 100vw, (max-width: 1150px) 33vw, 383px"
                                                         alt="">
                                                    <span class="sanhe-category-image-overlay">
                                                        <i class="sanhe-category-image-overlay-icon sanhe-category-size-28 fa"
                                                           style="color: #ffffff ;">
                                                        </i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sanhe-category-element">
                                        <div class="sanhe-category-title-item clearfix  sanhe-category-center-align sanhe-category-title-item-caption-top sanhe-category-item-pdlr"
                                             style="padding-bottom: 10px ;">
                                            <div class="sanhe-category-title-item-title-wrap "><h3
                                                    class="sanhe-category-title-item-title sanhe-category-skin-title "
                                                    style="font-size: 20px ;font-weight: 500 ;letter-spacing: 0px ;text-transform: none ;">
                                                <a href="/sanhe/products_zh-cn" target="_self">茶叶加工</a><span
                                                    class="sanhe-category-title-item-title-divider sanhe-category-skin-divider"></span>
                                            </h3></div>
                                        </div>
                                    </div>
                                    <div class="sanhe-category-element">
                                        <div class="sanhe-category-text-box-item sanhe-category-item-pdlr sanhe-category-center-align">
                                            <div class="sanhe-category-text-box-item-content" style="font-size: 16px ;">
                                                <p>
                                                    茶叶揉捻机</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Category END -->

        <!-- Our Advantages -->
        <div class="section-full content-inner-advantages bg-white">
            <div class="section-head text-black text-center">
                <h2 class="title">厂家优势</h2>
                <p>只为给您提供最好的服务</p>
            </div>
            <div class="sanhe-advantages-wrapper-content">
                <div class="portfolio-carousel-home-adv owl-theme owl-dots-none owl-carousel owl-btn-center-lr owl-btn-3">
                    <div class="item">
                        <div class="box-service">
                            <div class="number">
                                <img alt="_img" src="/static/images/icon/easy.png">
                            </div>
                            <div class="info">
                                <h4 class="title">使用便捷</h4>
                                <p class="content">锯条更换和修磨和调整时，其拆装操作简单、便捷。</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box-service">
                            <div class="number">
                                <img alt="_img" src="/static/images/icon/material.png"></div>
                            <div class="info">
                                <h4 class="title">优质材料</h4>
                                <p class="content">
                                    锯框采用进口铝合金材料，出厂保用期一年。</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box-service">
                            <div class="number">
                                <img alt="_img" src="/static/images/icon/stability.png">
                            </div>
                            <div class="info">
                                <h4 class="title">稳固耐用</h4>
                                <p class="content">
                                    机构设计经久耐用，使用性更强，使用寿命更长</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="box-service">
                            <div class="number">
                                <img alt="_img" src="/static/images/icon/manpower.png">
                            </div>
                            <div class="info">
                                <h4 class="title">省人省力</h4>
                                <p class="content">完备的自动化生产线设计，减少人力资源支出的同时最优化原材料损失</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box-service">
                            <div class="number">
                                <img alt="_img" src="/static/images/icon/design.png">
                            </div>
                            <div class="info">
                                <h4 class="title">设计先进</h4>
                                <p class="content">采用先进的工艺技术，获得多项专利突破，产品运行稳定可靠</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Latest Project End -->

        <!-- contact area -->
        <div class="section-full content-inner sanhe-contact-section sanhe-know_more-element"
             data-element_type="section"
             data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="sanhe-know_more-container sanhe-know_more-column-gap-default">
                <div class="sanhe-know_more-column sanhe-know_more-col-100 sanhe-know_more-top-column sanhe-know_more-element "
                     data-element_type="column">
                    <div class="sanhe-know_more-widget-wrap sanhe-know_more-element-populated">
                        <div class="sanhe-know_more-element sanhe-know_more-widget__width-auto sanhe-know_more-widget ">
                            <div class="sanhe-know_more-widget-container">
                                <p class="sanhe-custom-font  "
                                   style="color:#ff9131;font-size: 36px;letter-spacing: 0px;font-weight: 700;">
                                    让我们更了解您的需求</p>
                            </div>
                        </div>
                        <div class="sanhe-know_more-inner-section sanhe-know_more-element">
                            <div class="sanhe-know_more-container sanhe-know_more-column-gap-default">
                                <div class="sanhe-know_more-column sanhe-know_more-col-100 sanhe-know_more-inner-column sanhe-know_more-element "
                                     data-element_type="column">
                                    <div class="sanhe-know_more-widget-wrap sanhe-know_more-element-populated">
                                        <div class="sanhe-know_more-element sanhe-know_more-widget ">
                                            <div class="sanhe-know_more-widget-container">
                                                <h1 class="sanhe-custom-font"
                                                    style="color: #FFFFFF;font-size: 28px; margin: 4% 5%;">
                                                    根据客户场地大小或商业目标，我们会满足客户特殊的要求，
                                                    <br/>
                                                    提供最高效率和最大收益的设计方案。
                                                </h1>
                                            </div>
                                        </div>
                                        <div class="sanhe-know_more-element sanhe-know_more-widget ">
                                            <div class="sanhe-know_more-widget-container">
                                                <a class="sanhe-button sanhe-layout--outlined sanhe-html--link"
                                                   href="javascript:window.scrollTo(0, document.documentElement.scrollHeight)"
                                                   target="_self" style="color: #FFFFFF">
                                                    <span class="sanhe-m-text">联系我们</span>
                                                    <span class="sanhe-m-button-arrow-holder">
                                                     <svg class="sanhe-svg--button-arrow"
                                                          xmlns="http://www.w3.org/2000/svg" width="17.65"
                                                          height="13.1" viewBox="0 0 17.65 13.1" fill="#ffffff">
                                                        <path d="m11.75 13.1-1.275-1.275L14.1 8.2l.85-.575-.1-.3-1.025.125H0V5.625h13.825l1.025.15.1-.3-.85-.575-3.625-3.625L11.75 0l5.9 5.9v1.3Z"></path>
                                                        <path d="m11.75 13.1-1.275-1.275L14.1 8.2l.85-.575-.1-.3-1.025.125H0V5.625h13.825l1.025.15.1-.3-.85-.575-3.625-3.625L11.75 0l5.9 5.9v1.3Z"></path>
                                                    </svg>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- contact area End-->

        <!-- About Us -->
        <div class="section-full content-inner-profile bg-white">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-10 col-lg-9 col-md-8 m-b30 wow fadeInUp"
                         data-wow-duration="1s" data-wow-delay="0.2s">
                        <div class="our-story">
                            <h2 class="title">
                                <span class="text-primary">公司简介</span><br/>
                                福建省南平市三和机械制造有限公司
                            </h2>
                            <p>
                                公司位于福建省南平市建阳区白茶布工业园，公司占地30亩，是专业生产柜子板、细木工板、墙裙板等木工机械设备的制造公司，拥有几十年的优良技术和经验传承，并利用现代先进的自动化技术对产品进行更新和改进，使产品专业化、系列化。
                            </p>
                            <p>
                                公司主导产品：原木框锯机，方料框锯机，重型框锯自动化生产线--胚料输送机、分料机、进料机、重型框锯机、出料机、板材输送机、板材提升机、木屑刮板机等几十种木工机床。
                            </p>
                            <p>
                                公司全体同仁发扬工匠精神，不忽视每道工艺，不遗漏每个细节，精益求精、敬岗爱业以开发新工艺，研发新产品为企业发展的指导思想，以创建最具有行业竞争力的机械设备企业为共同目标。
                            </p>
                            <p>
                                “三和机械”公司作为您可靠的合作伙伴，将为您提供高品质的产品和完善的售后服务。
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 m-b30 wow fadeInUp profile-right"
                         data-wow-duration="1s" data-wow-delay="0.6s">
                        <img src="/static/images/background/profile_right.png" class="radius-40" alt=""/>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Us End -->

        <!-- patent area -->
        <div class="section-full">
            <div id="patent-text-hint">专利展示</div>
            <img class="patent-clicked" src="" alt="">
            <div id="drag-container">
                <div id="spin-container">
                    <img src="/static/images/patent/patent-2022.9.20.jpg" alt="">
                    <img src="/static/images/patent/patent-2018.8.31.jpg" alt="">
                    <img src="/static/images/patent/patent-2017.10.31.jpg" alt="">
                    <img src="/static/images/patent/patent-2017.9.12.jpg" alt="">
                    <img src="/static/images/patent/patent-2017.9.8.jpg" alt="">
                    <img src="/static/images/patent/patent-2016.3.30.jpg" alt="">
                    <img src="/static/images/patent/patent-2014.6.25.jpg" alt="">
                    <img src="/static/images/patent/patent-2014.5.28.jpg" alt="">
                    <img src="/static/images/patent/patent-2013.3.20.jpg" alt="">
                    <img src="/static/images/patent/patent-2013.3.13.jpg" alt="">
                    <img src="/static/images/patent/patent-2013.12.18.jpg" alt="">
                    <img src="/static/images/patent/patent-2013.11.13.jpg" alt="">
                    <img src="/static/images/patent/patent-2012.5.30.jpg" alt="">
                    <img src="/static/images/patent/patent-2012.5.30-2.jpg" alt="">
                    <img src="/static/images/patent/patent-2012.5.30-3.jpg" alt="">
                    <img src="/static/images/patent/patent-2010.5.19.jpg" alt="">
                    <img src="/static/images/patent/patent-2010.5.19-2.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- patent area END -->

        <!-- Service Info Head -->
        <div class="section-full content-inner-2 bg-primary wow fadeIn"
             data-wow-duration="1s" data-wow-delay="0.2s"
             style="background-image: url(../static/images/background/map-bg.png)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center service-info">
                        <h2 class="title text-white">
                            质量保障生存，创新驱动发展
                        </h2>
                        <p>
                            公司指导思想：以质量求生存、以创新求发展，几十年来公司产品质量稳定、价格合理、守信合同，售后服务及时周到取得良好信誉，产品已销国内山东、浙江、贵州、云南、湖南、江西等拾多个省和马来西亚、越南、俄罗斯等国家，取得了良好的经济和社会效益。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service Info Head End -->

        {#        <div class="section-full">#}
        {#            <video id="map-network-video" autoplay muted style="width: 100%;"#}
        {#                   poster="{{ url_for('static',filename='videos/map_network_poster.jpg') }}">#}
        {#                <source src="{{ url_for('static',filename='videos/map_network.mp4') }}"#}
        {# <source src="https://sanhejxzz.oss-cn-hangzhou.aliyuncs.com/map_network.mp4"#}
        {#                        type="video/mp4">#}
        {#            </video>#}
        {#        </div>#}


    </div>
    <!-- Content END -->
    <!-- Footer -->
    <footer class="site-footer gray-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.6s"
                         style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;">
                        <div class="footer_wrapper">
                            <a class="footer-logo" href="/sanhe/index">
                                <img src="/static/images/logo-white.png" style="width: 50%;">
                            </a>
                            <div class="footer-des">
                                <p>
                                    成功之路
                                    <br/>
                                    三和相助
                                </p>
                                <div class="footer-icon-wrapper container">
                                    <div class="social-item-wrap">
                                        <a href="https://www.youtube.com/@sanhe_machinery/videos"><i
                                                class="fab fa-youtube"></i></a>
                                    </div>
                                    <div class="social-item-wrap">
                                        <a href="https://www.facebook.com/profile.php?id=100087678476851"><i
                                                class="fab fa-facebook-f"></i></a>
                                    </div>
                                    <div class="social-item-wrap">
                                        <a href="https://twitter.com/SanHe_Machinery"><i class="fab fa-twitter"></i></a>
                                    </div>
                                    <div class="social-item-wrap">
                                        <a href="https://join.skype.com/invite/yhBjfOuUlEPn"><i
                                                class="fab fa-skype"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.6s"
                         style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;">
                        <div class="icon-bx-wraper bx-style-1 p-a30 m-b15 radius-sm br-col-w1 bg-tpw1">
                            <h5 class="text-white font-weight-300">
                                微信 / WhatsApp
                            </h5>
                            <a class="copy-phone" title="点击复制"><p>
                                +86 13559329496
                            </p></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.6s"
                         style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;">
                        <div class="icon-bx-wraper bx-style-1 p-a30 m-b15 radius-sm br-col-w1 bg-tpw1">
                            <h5 class="text-white font-weight-300">
                                QQ / QQ邮箱
                            </h5>
                            <a class="copy-qq" title="点击复制"><p>
                                1053924276
                            </p></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.6s"
                         style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn; align-self: center;">
                        <div class="footer_wrapper">
                            <div class="footer-des">
                                <div class="footer-qr">
                                    <img class="change_img" src="/static/images/contact/wechat_s.jpg" alt="">
                                    <img class="change_img" src="/static/images/contact/whatsapp_s.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer bottom part -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span>Copyright © 2023 Fujian Jianyang Sanhe Machinery Manufacturing Co., Ltd. | All Rights Reserved
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END-->
</div>


<!-- JAVASCRIPT FILES -->
<script src="{{ url_for('static',filename='js/jquery.min.js') }}" rel="script"></script>
<script src="{{ url_for('static',filename='plugins/wow/wow.js') }}" rel="script"></script>
<script src="{{ url_for('static',filename='plugins/owl-carousel/owl.carousel.js') }}" rel="script"></script>
<script src="{{ url_for('static',filename='plugins/bootstrap/js/bootstrap.bundle.min.js') }}" rel="script"></script>
<script src="{{ url_for('static',filename='plugins/scroll/scrollbar.min.js') }}" rel="script"></script>
<script src="{{ url_for('static',filename='js/sanhe_custom.js') }}" rel="script"></script>
<script src="{{ url_for('static',filename='js/jquery.lazy.min.js') }}" rel="script"></script>
<!-- REVOLUTION FILES -->
<script src="{{ url_for('static',filename='plugins/revolution/revolution/js/jquery.themepunch.tools.min.js') }}"
        rel="script"></script>
<script src="{{ url_for('static',filename='plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js') }}"
        rel="script"></script>
<script src="{{ url_for('static',filename='js/rev.slider.js') }}" rel="script"></script>
<script src="{{ url_for('static',filename='js/messages.js') }}" rel="script"></script>
<script src="{{ url_for('static',filename='js/copy_and_leftslider.js') }}" rel="script"></script>
<script src="{{ url_for('static',filename='js/js_home.js') }}" rel="script"></script>
<script src="{{ url_for('static',filename='js/js_home_patent.js') }}" rel="script"></script>
<script>
    $(document).ready(function () {
        "use strict";
        SanHe.init();
        rev_slider();
        $(".lazy").Lazy();
    });

    function changeLanguage() {
        let language = "{{ language }}";
        let target = language === "en" ? "_zh-cn" : ""
        window.location.href = '/sanhe/index' + target;
    }
</script>

<script src="{{ url_for('static',filename='plugins/magnific-popup/magnific-popup.js') }}" rel="script"></script>
<script src="{{ url_for('static',filename='plugins/imagesloaded/imagesloaded.js') }}" rel="script"></script>
<script src="{{ url_for('static',filename='plugins/lightgallery/js/lightgallery-all.min.js') }}"
        rel="script"></script>
</body>
</html>
