<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/icon.ico') }}"/>
    <link rel="icon" href="{{ url_for('static',filename='images/icon.ico') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='full_screen/style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='plugins/fontawesome/css/all.min.css') }}"/>
    <title>News ｜ SanHe</title>
    <meta name="robots" content="noindex, nofollow">
</head>
<body>
<header>
    <a href="/sanhe/index" class="brand">
        <img src="/static/images/logo-white.png" alt="" style="height: 30px;"/>
    </a>
    <div class="menu-btn"></div>
    <div class="navigation">
        <div class="navigation-items">
            <a href="/sanhe/index">Home</a>
            <a href="/sanhe/products">Products</a>
{#            <a>#}
{#                <svg class="change_language lang_zh" xmlns="http://www.w3.org/2000/svg"#}
{#                     viewBox="0 0 640 512"#}
{#                     onclick="changeLanguage()" style="fill:white;height: 20px;">#}
{#                    <path d="M0 128C0 92.7 28.7 64 64 64H256h48 16H576c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H320 304 256 64c-35.3 0-64-28.7-64-64V128zm320 0V384H576V128H320zM178.3 175.9c-3.2-7.2-10.4-11.9-18.3-11.9s-15.1 4.7-18.3 11.9l-64 144c-4.5 10.1 .1 21.9 10.2 26.4s21.9-.1 26.4-10.2l8.9-20.1h73.6l8.9 20.1c4.5 10.1 16.3 14.6 26.4 10.2s14.6-16.3 10.2-26.4l-64-144zM160 233.2L179 276H141l19-42.8zM448 164c11 0 20 9 20 20v4h44 16c11 0 20 9 20 20s-9 20-20 20h-2l-1.6 4.5c-8.9 24.4-22.4 46.6-39.6 65.4c.9 .6 1.8 1.1 2.7 1.6l18.9 11.3c9.5 5.7 12.5 18 6.9 27.4s-18 12.5-27.4 6.9l-18.9-11.3c-4.5-2.7-8.8-5.5-13.1-8.5c-10.6 7.5-21.9 14-34 19.4l-3.6 1.6c-10.1 4.5-21.9-.1-26.4-10.2s.1-21.9 10.2-26.4l3.6-1.6c6.4-2.9 12.6-6.1 18.5-9.8l-12.2-12.2c-7.8-7.8-7.8-20.5 0-28.3s20.5-7.8 28.3 0l14.6 14.6 .5 .5c12.4-13.1 22.5-28.3 29.8-45H448 376c-11 0-20-9-20-20s9-20 20-20h52v-4c0-11 9-20 20-20z"/>#}
{#                </svg>#}
{#            </a>#}
        </div>
    </div>
</header>
<section class="home">
    <video class="video-slide active" src="../static/images/banner/banner_2040_24s.mp4" autoplay muted loop></video>
    <video class="video-slide" src="../static/images/banner/banner_32_10s.mp4" autoplay muted loop></video>

    <div class="content active">
        <h1>Why choose us?</h1>
        <p>
            The company is located in Bechapu Industrial Park, Jianyang District, under the beautiful Wuyi Mountain. The
            company covers an area of 30 acres and is a professional manufacturer of cabinet board, joinery board,
            plywood and other machinery and equipment for the woodworking industry, with decades of excellent technology
            and experience inherited, and the use of modern advanced automation technology to update and improve the
            products, so that product specialization, series.
            <br/> <br/>
            The company's leading products; log cutting frame sawing machine, square frame sawing machine, heavy duty
            frame
            sawing automatic production line - germ conveyor, divider, feeder, heavy duty cutting frame sawing machine,
            discharge machine, board conveyor, board elevator, wood chip scraper and dozens of woodworking machine
            tools.
            <br/> <br/>
            As your reliable partner, Sanhe Machinery will provide you with high quality products and perfect service
            as always.
        </p>
    </div>

    <div class="content">
        <h1>Who we are serving?</h1>
        <p>
            Over the past decades since its establishment, the company has achieved a good reputation for stable product
            quality, reasonable prices, trustworthy contracts, and timely and considerate after-sales service, and its
            products have been sold to more than a dozen provinces such as Shandong, Zhejiang, Guizhou, Yunnan, Hunan,
            Jiangxi and other countries such as Malaysia, Vietnam and Russia.
        </p>
    </div>

    <div class="media-icons">
        <a href="https://www.youtube.com/@sanhe_machinery/videos"><i class="fab fa-youtube"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100087678476851"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/SanHe_Machinery"><i class="fab fa-twitter"></i></a>
    </div>

    <div class="slider-navigation">
        <div class="nav-btn active"></div>
        <div class="nav-btn"></div>
    </div>
</section>

<script>
    const menuBtn = document.querySelector(".menu-btn")
    const navigation = document.querySelector(".navigation")

    menuBtn.addEventListener("click", () => {
        menuBtn.classList.toggle("active");
        navigation.classList.toggle("active");
    });


    const btns = document.querySelectorAll(".nav-btn")
    const slides = document.querySelectorAll(".video-slide")
    const contents = document.querySelectorAll(".content")

    var sliderNav = function (manual) {
        btns.forEach((btn) => {
            btn.classList.remove("active")

        })

        slides.forEach((slide) => {
            slide.classList.remove("active")
        })

        contents.forEach((content) => {
            content.classList.remove("active")
        })

        btns[manual].classList.add("active")
        slides[manual].classList.add("active")
        contents[manual].classList.add("active")

    }

    btns.forEach((btn, i) => {
        btn.addEventListener("click", () => {
            sliderNav(i)
        })
    });


    function changeLanguage() {
        let language = "{{ language }}";
        let target = language === "en" ? "_zh-cn" : ""
        window.location.href = '/sanhe/news' + target;
    }

</script>

</body>
</html>