<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <title>自动化生产线 | 福建建阳三和机械制造有限公司</title>
    <meta name="description"
          content="本公司自主研发国内首套重型框锯制材自动化生产线，诸多大型制材企业近年来陆续添置此重型框据自动化生产线，其良好性能得到用户广泛认可和好评。"/>
    <link rel="canonical" href="https://global.sanhejxzz.com/sanhe/product_detail/automatic_production_line_zh-cn"/>
    <meta property="og:title"
          content="自动化生产线 | 福建建阳三和机械制造有限公司"/>
    <meta property="og:description"
          content="本公司自主研发国内首套重型框锯制材自动化生产线，诸多大型制材企业近年来陆续添置此重型框据自动化生产线，其良好性能得到用户广泛认可和好评。"/>
    <meta property="og:image" content="https://global.sanhejxzz.com/static/images/thumb/thumb_production-line.jpg"/>
    <meta property="og:image:width" content="416"/>
    <meta property="og:image:height" content="248"/>
    <meta property="og:url" content="https://global.sanhejxzz.com/sanhe/product_detail/automatic_production_line_zh-cn"/>
    <meta property="og:site_name" content="sanhe"/>
    <meta property="og:type" content="website"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title"
          content="自动化生产线 | 福建建阳三和机械制造有限公司"/>
    <meta name="twitter:description"
          content="本公司自主研发国内首套重型框锯制材自动化生产线，诸多大型制材企业近年来陆续添置此重型框据自动化生产线，其良好性能得到用户广泛认可和好评。"/>
    <meta name="twitter:image" content="https://global.sanhejxzz.com/static/images/thumb/thumb_production-line.jpg"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="https://global.sanhejxzz.com/static/images/icon.png"/>
    <meta name="keywords" content="自动化生产线, 福建建阳三和机械制造有限公司">
    <meta name="robots" content="index,follow"/>

    <!-- Google tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VJLMB2T8ZV">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'G-VJLMB2T8ZV');
    </script>

    <link rel="shortcut icon" href="{{ url_for('static',filename='images/icon.ico') }}"/>
    <link rel="icon" href="{{ url_for('static',filename='images/icon.ico') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/plugins.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/basic.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style_product_detail.css') }}"/>
    <link rel="stylesheet"
          href="{{ url_for('static',filename='plugins/jastified_gallery/css/justifiedGallery.min.css') }}"/>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/translate.css') }}"/>
</head>
<body id="bg">
<div class="page_wrapper">
    <!-- header -->
    <header class="site-header mo-left transparent-hd header">
        <!-- main header -->
        <div class="sticky-header navbar-expand-lg is-fixed">
            <div class="main-bar clearfix">
                <div class="container clearfix">
                    <!-- website logo -->
                    <div class="logo-header logo-white">
                        <a href="/sanhe/index"><img src="/static/images/logo-white.png" alt=""/></a>
                    </div>
                    <!-- nav toggle button -->
                    <button
                            class="navbar-toggle-button collapsed navbar-icon justify-content-end"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarNav_Collapse"
                            aria-controls="navbarNav_Collapse"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>

                    <!-- main nav -->
                    <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNav_Collapse">
                        <div class="logo-header d-md-block d-lg-none">
                            <a href="/sanhe/index"><img src="/static/images/logo-black.png" alt=""></a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="\sanhe\index_zh-cn">首页
                                </a>
                            </li>
                            <li>
                                <a href="\sanhe\products_zh-cn">产品
                                </a>
                            </li>
                            <li>
                                <a href="\sanhe\news_zh-cn">新闻
                                </a>
                            </li>
                            <li>
                                <a href="\sanhe\faqs_zh-cn">常见问题
                                </a>
                            </li>
                            <li>
                                <a href="\sanhe\contact_zh-cn">联系方式<i class="fas fa-chevron-down"></i></a>
                                <ul class="sub-menu right">
                                    <li><a class="copy-phone" title="点击复制">微信 / WhatsApp:<br/> +86 13559329496</a>
                                    </li>
                                    <li><a class="copy-qq" title="点击复制">QQ / QQ邮箱<br/> 1053924276 </a></li>
                                    <li><a><img class="change_img" src="/static/images/contact/wechat_s.jpg"
                                                alt=""></a></li>
                                    <li><a><img class="change_img" src="/static/images/contact/whatsapp_s.jpg" alt=""></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-last-li">
                                <svg class="change_language lang_zh" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 640 512"
                                     onclick="changeLanguage()">
                                    <path d="M0 128C0 92.7 28.7 64 64 64H256h48 16H576c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H320 304 256 64c-35.3 0-64-28.7-64-64V128zm320 0V384H576V128H320zM178.3 175.9c-3.2-7.2-10.4-11.9-18.3-11.9s-15.1 4.7-18.3 11.9l-64 144c-4.5 10.1 .1 21.9 10.2 26.4s21.9-.1 26.4-10.2l8.9-20.1h73.6l8.9 20.1c4.5 10.1 16.3 14.6 26.4 10.2s14.6-16.3 10.2-26.4l-64-144zM160 233.2L179 276H141l19-42.8zM448 164c11 0 20 9 20 20v4h44 16c11 0 20 9 20 20s-9 20-20 20h-2l-1.6 4.5c-8.9 24.4-22.4 46.6-39.6 65.4c.9 .6 1.8 1.1 2.7 1.6l18.9 11.3c9.5 5.7 12.5 18 6.9 27.4s-18 12.5-27.4 6.9l-18.9-11.3c-4.5-2.7-8.8-5.5-13.1-8.5c-10.6 7.5-21.9 14-34 19.4l-3.6 1.6c-10.1 4.5-21.9-.1-26.4-10.2s.1-21.9 10.2-26.4l3.6-1.6c6.4-2.9 12.6-6.1 18.5-9.8l-12.2-12.2c-7.8-7.8-7.8-20.5 0-28.3s20.5-7.8 28.3 0l14.6 14.6 .5 .5c12.4-13.1 22.5-28.3 29.8-45H448 376c-11 0-20-9-20-20s9-20 20-20h52v-4c0-11 9-20 20-20z"/>
                                </svg>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
        <!-- main header END -->
    </header>
    <!-- header END -->

    <!-- content -->
    <div class="page-content bg-gray">
        <div class="content-block" style="height: auto;">
            <div class="title_holder">
                <h3>自动化生产线</h3>
                <div class="sanhe_project_video">
                    <img class="svg" src="/static/images/start.svg" alt="">
                    <a class="project_time" href="#">框锯生产线视频预览(10台)</a>
                    <a class="project_video_button popup-youtube"
                       href="https://www.youtube.com/watch?v=FGUB1mg4P74"></a>
                </div>
                <div class="sanhe_project_video">
                    <img class="svg" src="/static/images/start.svg" alt="">
                    <a class="project_time" href="#">框锯生产线视频预览(7台)</a>
                    <a class="project_video_button popup-youtube"
                       href="https://www.youtube.com/watch?v=pjiUlRCxvGI"></a>
                </div>
                <div class="sanhe_project_video">
                    <img class="svg" src="/static/images/start.svg" alt="">
                    <a class="project_time" href="#">框锯生产线视频预览(4台)</a>
                    <a class="project_video_button popup-youtube"
                       href="https://www.youtube.com/watch?v=0fs79JFm3xA"></a>
                </div>
                <div class="sanhe_project_video">
                    <img class="svg" src="/static/images/start.svg" alt="">
                    <a class="project_time" href="#">框锯生产线视频预览(2台)</a>
                    <a class="project_video_button popup-youtube"
                       href="https://www.youtube.com/watch?v=qSVCyrFcz4U"></a>
                </div>
            </div>
            <div class="sanhe_section container" style="margin-bottom: 40px">
                <div class="sanhe_justified_wrap gallery_zoom justified-gallery">
                    <a class="zoom jg-entry entry-visible" href="/static/images/blog_img/flow1.jpg">
                        <img src="/static/images/blog_img/flow1.jpg" alt="">
                        <span class="shape"></span>
                    </a>
                    <a class="zoom jg-entry entry-visible" href="/static/images/blog_img/flow3.jpg">
                        <img src="/static/images/blog_img/flow3.jpg" alt="">
                        <span class="shape"></span>
                    </a>
                    <a class="zoom jg-entry entry-visible" href="/static/images/blog_img/flow2.jpg">
                        <img src="/static/images/blog_img/flow2.jpg" alt="">
                        <span class="shape"></span>
                    </a>
                    <a class="zoom jg-entry entry-visible" href="/static/images/blog_img/flow1.5-zh.jpg">
                        <img src="/static/images/blog_img/flow1.5-zh.jpg" alt="">
                        <span class="shape"></span>
                    </a>
                </div>
            </div>

            <div class="sanhe_justified_content container">
                <div class="leftpart">
                    <div class="title_holder">
                        <h3>
                            <strong>产品名称:</strong>
                            重型框架自动锯切生产线
                        </h3>
                    </div>
                    <div class="definition">
                        <p>
                            本公司自主研发国内首套七组重型框锯制材自动化生产线，诸多大型制材企业近年来陆续添置此重型框据自动化生产线，每月锯切原木在5000立方米以上，其良好性能得到用户广泛认可和好评。
                        </p>
                        <p>
                            我们从提供方案设计到制造，把握每一个环节，确保在极端条件下也能够无故障长期稳定运行。
                            即使在零下20度或零上40度的环境下，我们的设备依然能够提供长久的高精度和最好的据材表面质量。
                        </p>
                        <p>
                            我们用事实说话，致力于打造客户心目中的理想的高端制材设备，推动木材加工企业在制材工艺领域的规模化发展。
                        </p>
                    </div>
                </div>
            </div>

            <div class="container composition">
                <h3>生产线组件</h3>
                <div class="wrapper">
                    <table class="table-fill">
                        <thead>
                        <tr>
                            <th class="text-center" style="width: 90px;">序号</th>
                            <th class="text-center" style="width: 200px;">设备名称</th>
                            <th class="text-center" style="width: 150px;">总功率(kw)</th>
                            <th class="text-center" style="width: 300px;">外形尺寸(mm)</th>
                            <th class="text-center" style="width: 250px;">设备重量(kg)</th>
                        </tr>
                        </thead>
                        <tbody class="table-hover">
                        <tr>
                            <td>1</td>
                            <td>胚料输送机</td>
                            <td>5.5</td>
                            <td>3000x2800x1100</td>
                            <td>2400</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>分料机</td>
                            <td>3.5</td>
                            <td>3000×2800x1100</td>
                            <td>2000</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>进料机</td>
                            <td>1.5</td>
                            <td>4300x1100x1100</td>
                            <td>850</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>框锯主机</td>
                            <td>35.5</td>
                            <td>2300×1450×2300</td>
                            <td>5800</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>出料机</td>
                            <td>1.5</td>
                            <td>6500×1100x1100</td>
                            <td>1500</td>
                        </tr>
                        <tr>

                            <td>6</td>
                            <td>板材输送机</td>
                            <td>5.5</td>
                            <td>3000×3300×500</td>
                            <td>650</td>

                        </tr>
                        <tr>
                            <td>7</td>
                            <td>板材提升机</td>
                            <td>3</td>
                            <td>3000×3300x1300</td>
                            <td>1850</td>

                        </tr>
                        <tr>
                            <td>8</td>
                            <td>木屑刮板机</td>
                            <td>5.5</td>
                            <td>3000×500×500</td>
                            <td>350</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="container specification">
                <h3>规格参数</h3>
                <div class="wrapper">
                    <div class="table">
                        <div class="row header">
                            <div class="cell">
                                主机参数
                            </div>
                            <div class="cell">
                                3232Z型
                            </div>
                            <div class="cell">
                                3535Z型
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell">总功率</div>
                            <div class="cell">32.2kw</div>
                            <div class="cell">32.2kw</div>
                        </div>
                        <div class="row">
                            <div class="cell">锯切冲程</div>
                            <div class="cell">320mm</div>
                            <div class="cell">320mm</div>
                        </div>
                        <div class="row">
                            <div class="cell">加工直径</div>
                            <div class="cell">170mm-320mm</div>
                            <div class="cell">170mm-350mm</div>
                        </div>
                        <div class="row">
                            <div class="cell">加工长度</div>
                            <div class="cell">1000mm-不限</div>
                            <div class="cell">1000mm-不限</div>
                        </div>
                        <div class="row">
                            <div class="cell">最大锯切高度</div>
                            <div class="cell">320mm</div>
                            <div class="cell">350mm</div>
                        </div>
                        <div class="row">
                            <div class="cell">最大锯切宽度</div>
                            <div class="cell">320mm</div>
                            <div class="cell">350mm</div>
                        </div>
                        <div class="row">
                            <div class="cell">送料速度</div>
                            <div class="cell">0-1.5m/min (可调)</div>
                            <div class="cell">8-1.5m/min (可调)</div>
                        </div>
                        <div class="row">
                            <div class="cell">锯条长度</div>
                            <div class="cell">750mm</div>
                            <div class="cell">790mm</div>
                        </div>
                        <div class="row">
                            <div class="cell">锯条锯路</div>
                            <div class="cell">1.8-2.0mm</div>
                            <div class="cell">2.0-2.2mm</div>
                        </div>
                        <div class="row">
                            <div class="cell">锯切电机功率</div>
                            <div class="cell">30kw-6极</div>
                            <div class="cell">30kw-6极</div>
                        </div>
                        <div class="row">
                            <div class="cell">送料电机功率</div>
                            <div class="cell">2.2kw-4极</div>
                            <div class="cell">2.2kw-4极</div>
                        </div>
                        <div class="row">
                            <div class="cell">机器重量</div>
                            <div class="cell">5300kg</div>
                            <div class="cell">5500kg</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="site-footer gray-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.6s"
                         style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;">
                        <div class="footer_wrapper">
                            <a class="footer-logo" href="/sanhe/index">
                                <img src="/static/images/logo-white.png" style="width: 50%;">
                            </a>
                            <div class="footer-des">
                                <p>
                                    成功之路
                                    <br/>
                                    三和相助
                                </p>
                                <div class="footer-icon-wrapper container">
                                    <div class="social-item-wrap">
                                        <a href="https://www.youtube.com/@sanhe_machinery/videos"><i
                                                class="fab fa-youtube"></i></a>
                                    </div>
                                    <div class="social-item-wrap">
                                        <a href="https://www.facebook.com/profile.php?id=100087678476851"><i
                                                class="fab fa-facebook-f"></i></a>
                                    </div>
                                    <div class="social-item-wrap">
                                        <a href="https://twitter.com/SanHe_Machinery"><i class="fab fa-twitter"></i></a>
                                    </div>
                                    <div class="social-item-wrap">
                                        <a href="https://join.skype.com/invite/yhBjfOuUlEPn"><i
                                                class="fab fa-skype"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.6s"
                         style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;">
                        <div class="icon-bx-wraper bx-style-1 p-a30 m-b15 radius-sm br-col-w1 bg-tpw1">
                            <h5 class="text-white font-weight-300">
                                微信 / WhatsApp
                            </h5>
                            <a class="copy-phone" title="点击复制"><p>
                                +86 13559329496
                            </p></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.6s"
                         style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;">
                        <div class="icon-bx-wraper bx-style-1 p-a30 m-b15 radius-sm br-col-w1 bg-tpw1">
                            <h5 class="text-white font-weight-300">
                                QQ / QQ邮箱
                            </h5>
                            <a class="copy-qq" title="点击复制"><p>
                                1053924276
                            </p></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.6s"
                         style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn; align-self: center;">
                        <div class="footer_wrapper">
                            <div class="footer-des">
                                <div class="footer-qr">
                                    <img class="change_img" src="/static/images/contact/wechat_s.jpg" alt="">
                                    <img class="change_img" src="/static/images/contact/whatsapp_s.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer bottom part -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span>Copyright © 2023 Fujian Jianyang Sanhe Machinery Manufacturing Co., Ltd. | All Rights Reserved
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END-->
</div>


<!-- JAVASCRIPT FILES  -->
<script src="{{ url_for('static',filename='js/jquery.min.js') }}" rel="script"></script>

<script src="{{ url_for('static',filename='plugins/wow/wow.js') }}" rel="script"></script>

<script src="{{ url_for('static',filename='plugins/bootstrap/js/bootstrap.bundle.min.js') }}" rel="script"></script>

<script src="{{ url_for('static',filename='plugins/magnific-popup/magnific-popup.js') }}" rel="script"></script>

<script src="{{ url_for('static',filename='plugins/jastified_gallery/js/jquery.justifiedGallery.min.js') }}"
        rel="script">
</script>
<script src="{{ url_for('static',filename='js/messages.js') }}" rel="script"></script>
<script src="{{ url_for('static',filename='js/copy_and_leftslider.js') }}" rel="script"></script>
<script src="{{ url_for('static',filename='js/translate.js') }}" rel="script"></script>
<script src="{{ url_for('static',filename='js/translate_google.js') }}" rel="script"></script>
<script>
    function activePul() {
        "use strict";
        jQuery('.sanhe_justified_wrap').justifiedGallery({
            rowHeight: 320,
            margins: 10
        });
        jQuery(".popup-youtube").magnificPopup({
            //type: 'iframe',
            disableOn: 700,
            type: 'iframe',
            cursor: "dasd",
            mainClass: 'mfp-fade',
            removalDelay: 160,
            preloader: false,
            fixedContentPos: true
        });
        jQuery('.gallery_zoom').each(function () { // the containers for all your galleries
            jQuery(this).magnificPopup({
                delegate: 'a.zoom', // the selector for gallery item
                type: 'image',
                gallery: {
                    enabled: true
                },
                removalDelay: 300,
                mainClass: 'mfp-fade'
            });

        });
    }

    activePul();

    function changeLanguage() {
        let language = "{{ language }}";
        let target = language === "en" ? "_zh-cn" : ""
        window.location.href = '/sanhe/product_detail/automatic_production_line' + target;
    }
</script>
</body>
</html>