<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <title>茶叶揉捻机 | 福建建阳三和机械制造有限公司</title>
    <meta name="description"
          content="茶叶卷制加工作业的通用机械之一，适用于红茶、绿茶、乌龙茶等各类茶叶的卷制，是茶叶生产中不可缺少的一件设备。本公司的捏合机所生产的茶叶形状良好，得到了用户的广泛好评。"/>
    <link rel="canonical" href="https://global.sanhejxzz.com/sanhe/product_detail/tea_twisting_machine_zh-cn"/>
    <meta property="og:title"
          content="茶叶揉捻机 | 福建建阳三和机械制造有限公司"/>
    <meta property="og:description"
          content="茶叶卷制加工作业的通用机械之一，适用于红茶、绿茶、乌龙茶等各类茶叶的卷制，是茶叶生产中不可缺少的一件设备。本公司的捏合机所生产的茶叶形状良好，得到了用户的广泛好评。"/>
    <meta property="og:image" content="https://global.sanhejxzz.com/static/images/blog_img/rounian1.5.jpg"/>
    <meta property="og:image:width" content="2328"/>
    <meta property="og:image:height" content="1358"/>
    <meta property="og:url" content="https://global.sanhejxzz.com/sanhe/product_detail/tea_twisting_machine_zh-cn"/>
    <meta property="og:site_name" content="sanhe"/>
    <meta property="og:type" content="website"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title"
          content="茶叶揉捻机 | 福建建阳三和机械制造有限公司"/>
    <meta name="twitter:description"
          content="茶叶卷制加工作业的通用机械之一，适用于红茶、绿茶、乌龙茶等各类茶叶的卷制，是茶叶生产中不可缺少的一件设备。本公司的捏合机所生产的茶叶形状良好，得到了用户的广泛好评。"/>
    <meta name="twitter:image" content="https://global.sanhejxzz.com/static/images/blog_img/rounian1.5.jpg"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="https://global.sanhejxzz.com/static/images/icon.png"/>
    <meta name="keywords" content="揉茶机, 福建建阳三和机械制造有限公司">
    <meta name="robots" content="index,follow"/>

    <!-- Google tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VJLMB2T8ZV">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'G-VJLMB2T8ZV');
    </script>

    <link rel="shortcut icon" href="{{ url_for('static',filename='images/icon.ico') }}"/>
    <link rel="icon" href="{{ url_for('static',filename='images/icon.ico') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/plugins.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/basic.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style_product_detail.css') }}"/>
    <link rel="stylesheet"
          href="{{ url_for('static',filename='plugins/jastified_gallery/css/justifiedGallery.min.css') }}"/>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/translate.css') }}"/>
</head>
<body id="bg">
<div class="page_wrapper">
    <!-- header -->
    <header class="site-header mo-left transparent-hd header">
        <!-- main header -->
        <div class="sticky-header navbar-expand-lg is-fixed">
            <div class="main-bar clearfix">
                <div class="container clearfix">
                    <!-- website logo -->
                    <div class="logo-header logo-white">
                        <a href="/sanhe/index"><img src="/static/images/logo-white.png" alt=""/></a>
                    </div>
                    <!-- nav toggle button -->
                    <button
                            class="navbar-toggle-button collapsed navbar-icon justify-content-end"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarNav_Collapse"
                            aria-controls="navbarNav_Collapse"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>

                    <!-- main nav -->
                    <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNav_Collapse">
                        <div class="logo-header d-md-block d-lg-none">
                            <a href="/sanhe/index"><img src="/static/images/logo-black.png" alt=""></a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="\sanhe\index_zh-cn">首页
                                </a>
                            </li>
                            <li>
                                <a href="\sanhe\products_zh-cn">产品
                                </a>
                            </li>
                            <li>
                                <a href="\sanhe\news_zh-cn">新闻
                                </a>
                            </li>
                            <li>
                                <a href="\sanhe\faqs_zh-cn">常见问题
                                </a>
                            </li>
                            <li>
                                <a href="\sanhe\contact_zh-cn">联系方式<i class="fas fa-chevron-down"></i></a>
                                <ul class="sub-menu right">
                                    <li><a class="copy-phone" title="点击复制">微信 / WhatsApp:<br/> +86 13559329496</a>
                                    </li>
                                    <li><a class="copy-qq" title="点击复制">QQ / QQ邮箱<br/> 1053924276 </a></li>
                                    <li><a><img class="change_img" src="/static/images/contact/wechat_s.jpg"
                                                alt=""></a></li>
                                    <li><a><img class="change_img" src="/static/images/contact/whatsapp_s.jpg" alt=""></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-last-li">
                                <svg class="change_language lang_zh" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 640 512"
                                     onclick="changeLanguage()">
                                    <path d="M0 128C0 92.7 28.7 64 64 64H256h48 16H576c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H320 304 256 64c-35.3 0-64-28.7-64-64V128zm320 0V384H576V128H320zM178.3 175.9c-3.2-7.2-10.4-11.9-18.3-11.9s-15.1 4.7-18.3 11.9l-64 144c-4.5 10.1 .1 21.9 10.2 26.4s21.9-.1 26.4-10.2l8.9-20.1h73.6l8.9 20.1c4.5 10.1 16.3 14.6 26.4 10.2s14.6-16.3 10.2-26.4l-64-144zM160 233.2L179 276H141l19-42.8zM448 164c11 0 20 9 20 20v4h44 16c11 0 20 9 20 20s-9 20-20 20h-2l-1.6 4.5c-8.9 24.4-22.4 46.6-39.6 65.4c.9 .6 1.8 1.1 2.7 1.6l18.9 11.3c9.5 5.7 12.5 18 6.9 27.4s-18 12.5-27.4 6.9l-18.9-11.3c-4.5-2.7-8.8-5.5-13.1-8.5c-10.6 7.5-21.9 14-34 19.4l-3.6 1.6c-10.1 4.5-21.9-.1-26.4-10.2s.1-21.9 10.2-26.4l3.6-1.6c6.4-2.9 12.6-6.1 18.5-9.8l-12.2-12.2c-7.8-7.8-7.8-20.5 0-28.3s20.5-7.8 28.3 0l14.6 14.6 .5 .5c12.4-13.1 22.5-28.3 29.8-45H448 376c-11 0-20-9-20-20s9-20 20-20h52v-4c0-11 9-20 20-20z"/>
                                </svg>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
        <!-- main header END -->
    </header>
    <!-- header END -->

    <!-- content -->
    <div class="page-content bg-gray">
        <div class="content-block" style="height: auto;">
            <div class="title_holder">
                <h3>茶叶揉捻机</h3>
                {#                <div class="sanhe_project_video">#}
                {#                    <img class="svg" src="/static/images/start.svg" alt="">#}
                {#                    <a class="project_time" href="#">实机视频</a>#}
                {#                    <a class="project_video_button popup-youtube"#}
                {#                       href="https://www.youtube.com/watch?"></a>#}
                {#                </div>#}
            </div>
            <div class="sanhe_section container" style="margin-bottom: 40px">
                <div class="sanhe_justified_wrap gallery_zoom justified-gallery">
                    <a class="zoom jg-entry entry-visible" href="/static/images/blog_img/rounian1.5.png">
                        <img src="/static/images/blog_img/rounian1.5.png" alt="">
                        <span class="shape"></span>
                    </a>
                    <a class="zoom jg-entry entry-visible" href="/static/images/blog_img/rounian2.png">
                        <img src="/static/images/blog_img/rounian2.png" alt="">
                        <span class="shape"></span>
                    </a>
                    <a class="zoom jg-entry entry-visible" href="/static/images/blog_img/rounian3.png">
                        <img src="/static/images/blog_img/rounian3.png" alt="">
                        <span class="shape"></span>
                    </a>
                </div>
            </div>

            <div class="sanhe_justified_content container">
                <div class="leftpart">
                    <div class="title_holder">
                        <h3>
                            <strong>产品名称:</strong>茶叶揉捻机
                        </h3>
                    </div>
                    <div class="definition">
                        <p>
                            茶叶揉捻机是茶叶碾压加工操作的通用机械之一，适用于红茶、绿茶、乌龙茶等各类茶叶的碾压操作，是茶叶生产不可缺少的设备。本公司生产的揉捻机揉捻出的茶叶条索紧，条形好，获得用户广泛好评。
                            <br/><br/>
                            机器特点:（专利许可--离合器装置）
                            <br/>
                            ① 易于维护。在三个机器底座中，红色部分包含一个离合器装置，可以上下拆解。
                            <br/>
                            ② 易于操作。由于采用了离合结构，揉捻筒可以自由翻转，便于清理残留的茶叶和将新茶叶装入揉捻筒的操作。
                        </p>
                    </div>
                </div>
            </div>

            <div class="container specification">
                <h3>规格参数</h3>
                <div class="wrapper">
                    <div class="table">
                        <div class="row header">
                            <div class="cell">
                                主机参数
                            </div>
                            <div class="cell">
                                6CR-45
                            </div>
                            <div class="cell">
                                6CR-55B
                            </div>
                        </div>

                        <div class="row">
                            <div class="cell">揉筒直径</div>
                            <div class="cell">450mm</div>
                            <div class="cell">550mm</div>
                        </div>
                        <div class="row">
                            <div class="cell">揉筒长度</div>
                            <div class="cell">280mm</div>
                            <div class="cell">400mm</div>
                        </div>
                        <div class="row">
                            <div class="cell">外形尺寸</div>
                            <div class="cell">1200 x 1100 x 1300</div>
                            <div class="cell">1350 x 1200 x 1400</div>
                        </div>
                        <div class="row">
                            <div class="cell">生产数量</div>
                            <div class="cell">30-40 kg/次</div>
                            <div class="cell">40-50 kg/次</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <footer class="site-footer gray-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.6s"
                         style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;">
                        <div class="footer_wrapper">
                            <a class="footer-logo" href="/sanhe/index">
                                <img src="/static/images/logo-white.png" style="width: 50%;">
                            </a>
                            <div class="footer-des">
                                <p>
                                    成功之路
                                    <br/>
                                    三和相助
                                </p>
                                <div class="footer-icon-wrapper container">
                                    <div class="social-item-wrap">
                                        <a href="https://www.youtube.com/@sanhe_machinery/videos"><i
                                                class="fab fa-youtube"></i></a>
                                    </div>
                                    <div class="social-item-wrap">
                                        <a href="https://www.facebook.com/profile.php?id=100087678476851"><i
                                                class="fab fa-facebook-f"></i></a>
                                    </div>
                                    <div class="social-item-wrap">
                                        <a href="https://twitter.com/SanHe_Machinery"><i class="fab fa-twitter"></i></a>
                                    </div>
                                    <div class="social-item-wrap">
                                        <a href="https://join.skype.com/invite/yhBjfOuUlEPn"><i
                                                class="fab fa-skype"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.6s"
                         style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;">
                        <div class="icon-bx-wraper bx-style-1 p-a30 m-b15 radius-sm br-col-w1 bg-tpw1">
                            <h5 class="text-white font-weight-300">
                                微信 / WhatsApp
                            </h5>
                            <a class="copy-phone" title="点击复制"><p>
                                +86 13559329496
                            </p></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.6s"
                         style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;">
                        <div class="icon-bx-wraper bx-style-1 p-a30 m-b15 radius-sm br-col-w1 bg-tpw1">
                            <h5 class="text-white font-weight-300">
                                QQ / QQ邮箱
                            </h5>
                            <a class="copy-qq" title="点击复制"><p>
                                1053924276
                            </p></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 wow fadeIn" data-wow-delay="0.6s"
                         style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn; align-self: center;">
                        <div class="footer_wrapper">
                            <div class="footer-des">
                                <div class="footer-qr">
                                    <img class="change_img" src="/static/images/contact/wechat_s.jpg" alt="">
                                    <img class="change_img" src="/static/images/contact/whatsapp_s.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer bottom part -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                <span>Copyright © 2022
                  <a target="_blank">三和</a>. all rights reserved.</span>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END-->

</div>


<!-- JAVASCRIPT FILES  -->
<script src="{{ url_for('static',filename='js/jquery.min.js') }}" rel="script"></script>

<script src="{{ url_for('static',filename='plugins/wow/wow.js') }}" rel="script"></script>

<script src="{{ url_for('static',filename='plugins/bootstrap/js/bootstrap.bundle.min.js') }}" rel="script"></script>

<script src="{{ url_for('static',filename='plugins/magnific-popup/magnific-popup.js') }}" rel="script"></script>

<script src="{{ url_for('static',filename='plugins/jastified_gallery/js/jquery.justifiedGallery.min.js') }}"
        rel="script">
</script>
<script src="{{ url_for('static',filename='js/messages.js') }}" rel="script"></script>
<script src="{{ url_for('static',filename='js/copy_and_leftslider.js') }}" rel="script"></script>
<script src="{{ url_for('static',filename='js/translate.js') }}" rel="script"></script>
<script src="{{ url_for('static',filename='js/translate_google.js') }}" rel="script"></script>
<script>
    function activePul() {
        "use strict";
        jQuery('.sanhe_justified_wrap').justifiedGallery({
            rowHeight: 400,
            margins: 10
        });
        jQuery(".popup-youtube").magnificPopup({
            //type: 'iframe',
            disableOn: 700,
            type: 'iframe',
            cursor: "dasd",
            mainClass: 'mfp-fade',
            removalDelay: 160,
            preloader: false,
            fixedContentPos: true
        });
        jQuery('.gallery_zoom').each(function () { // the containers for all your galleries
            jQuery(this).magnificPopup({
                delegate: 'a.zoom', // the selector for gallery item
                type: 'image',
                gallery: {
                    enabled: true
                },
                removalDelay: 300,
                mainClass: 'mfp-fade'
            });

        });
    }

    activePul();

    function changeLanguage() {
        let language = "{{ language }}";
        let target = language === "en" ? "_zh-cn" : ""
        window.location.href = '/sanhe/product_detail/tea_twisting_machine_zh-cn' + target;
    }
</script>
</body>
</html>