<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/icon.ico') }}"/>
    <link rel="icon" href="{{ url_for('static',filename='images/icon.ico') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style_login.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='plugins/fontawesome/css/all.min.css') }}"/>

    {#    <link rel="stylesheet" href="{{ url_for('static',filename='css/plugins.css') }}"/>#}
    <title>Reset Password ｜ SanHe </title>
    <meta name="robots" content="noindex, nofollow">
</head>

<body>
<div class="shell">
    <div class="container a-container" id="a-container">
        <img class="container_header" src="/static/images/logo-black.png" alt=""/>
        <div class="weixin-window hidden">
            <i class="weixin-window-close fas fa-times"></i>
        </div>
        <div id="weixin-signup-qrcode" class="weixin-window hidden"></div>
        <form action="" method="" class="form" id="a-form">
            <h2 class="form_title title">Reset Password</h2>
{#            <div class="form_icons">#}
{#                <i class="icon fab fa-weixin weixin-signup"></i>#}
{#            </div>#}
{#            <span class="form_span">Use Wechat or Email to Sign Up</span>#}
            <input type="text" class="form_input"  placeholder="Email" name="email">
            <div class="input-group-addon" style="cursor: pointer;font-size: 15px" id="captcha-btn" >Get Verification Code</div>
            <input type="text" class="form_input" placeholder="Verification Code" name="captcha">
            <input type="text" class="form_input" placeholder="Enter your new password">
            <button class="form_button button submit" id="confirm">Confirm</button>
        </form>
    </div>

{#    <div class="container b-container" id="b-container">#}
{#        <img class="container_header" src="/static/images/logo-black.png" alt=""/>#}
{#        <div class="weixin-window hidden">#}
{#            <i class="weixin-window-close fas fa-times"></i>#}
{#        </div>#}
{#        <div id="weixin-signin-qrcode" class="weixin-window hidden"></div>#}
{#        <form action="" method="" class="form" id="b-form">#}
{#            <h2 class="form_title title">Reset Password</h2>#}
{#            <div class="form_icons">#}
{#                <i class="icon fab fa-weixin weixin-signin"></i>#}
{#            </div>#}
{#            <span class="form_span">Use Wechat or Email to Sign In</span>#}
{#            <input type="text" class="form_input" placeholder="Email">#}
{#            <input type="text" class="form_input" placeholder="Password">#}
{#            <a class="form_link" >Forget Password？</a>#}
{#            <button class="form_button button submit">SIGN IN</button>#}
{#        </form>#}
{#    </div>#}

    <div class="switch" id="switch-cnt">
        <div class="switch_circle"></div>
        <div class="switch_circle switch_circle-t"></div>
        <img class="switch_background" src="/static/images/icon.png" alt=""/>
        <div class="switch_container" id="switch-c1">
            <h2 class="switch_title title" style="letter-spacing: 0;">Forget password?</h2>
            <p class="switch_description description">Try using email to reset!</p>

        </div>

        <div class="switch_container is-hidden" id="switch-c2">
            <h2 class="switch_title title" style="letter-spacing: 0;">Hello Friend！</h2>
            <p class="switch_description description">Sign up for an account and become a valued enterprise member!</p>
            <button class="switch_button button switch-btn">SIGN UP</button>
        </div>
    </div>
</div>
</body>

<script src="{{ url_for('static',filename='js/sweetalert.min.js') }}" rel="script"></script>
<script src="{{ url_for('static',filename='js/jquery.min.js') }}" rel="script"></script>
<script src="{{ url_for('static',filename='js/resetemail.js') }}" rel="script"></script>
<script src="{{ url_for('static',filename='js/messages.js') }}" rel="script"></script>
<script src="{{ url_for('static',filename='js/js_login.js') }}" rel="script"></script>
<script>
    let switchCtn = document.querySelector("#switch-cnt");
    let switchC1 = document.querySelector("#switch-c1");
    let switchC2 = document.querySelector("#switch-c2");
    let switchCircle = document.querySelectorAll(".switch_circle");
    let switchBtn = document.querySelectorAll(".switch-btn");
    let aContainer = document.querySelector("#a-container");
    let bContainer = document.querySelector("#b-container");
    let allButtons = document.querySelectorAll(".submit");

    let getButtons = (e) => e.preventDefault()
    let changeForm = (e) => {
        // 修改类名
        switchCtn.classList.add("is-gx");
        setTimeout(function () {
            switchCtn.classList.remove("is-gx");
        }, 1500)
        switchCtn.classList.toggle("is-txr");
        switchCircle[0].classList.toggle("is-txr");
        switchCircle[1].classList.toggle("is-txr");

        switchC1.classList.toggle("is-hidden");
        switchC2.classList.toggle("is-hidden");
        aContainer.classList.toggle("is-txl");
        bContainer.classList.toggle("is-txl");
        bContainer.classList.toggle("is-z");
    }
    // 点击切换
    let shell = (e) => {
        for (var i = 0; i < allButtons.length; i++)
            allButtons[i].addEventListener("click", getButtons);
        for (var i = 0; i < switchBtn.length; i++)
            switchBtn[i].addEventListener("click", changeForm)
    }
    window.addEventListener("load", shell);
</script>

</html>
