{% extends "layout/fixed_header_base.html" %}

{% block seo_infos %}
    <title>FAQs - Fujian Jianyang Sanhe Machinery
        Manufacturing Co., Ltd </title>
    <meta name="description"
          content="What's the prices of frame saw machines?"/>
    <link rel="canonical" href="https://global.sanhejxzz.com/sanhe/faqs"/>
    <meta name="keywords"
          content="thin cutting frame saw, cutting frame saw machine, vertical frame sawing machine, automatic production line, thin cutting frame sawmill, Fujian Jianyang Sanhe Machinery">
    <meta name="robots" content="index,follow"/>
{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_faqs.css') }}"/>
{% endblock %}

{% block page_content %}
    <iframe width="100%" height="100%" src="http://ipa-022.ucd.ie/vr"></iframe>
{% endblock %}

{% block js_scripts %}

{% endblock js_scripts %}
